// General Style

// font
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Text:ital@0;1&display=swap");
body {
  font-family: "DM Sans", sans-serif !important;
}

.header {
  color: rgba(0, 0, 0, 0.678);
  font-size: 3rem;
  font-family: "DM Serif Text", serif !important;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
